[submodule "ResourceManager"]
	path = ResourceManager
	url = https://github.com/fuerchter/ResourceManager
[submodule "Network"]
	path = Network
	url = https://github.com/fuerchter/Network
[submodule "Math"]
	path = Math
	url = https://github.com/fuerchter/Math
[submodule "EntityComponents"]
	path = EntityComponents
	url = https://github.com/fuerchter/EntityComponents
